@import "global.css";

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border-bottom: 1px solid black;
}

.left,
.right {
  display: flex;
  color: --pure-black;
}

.list-1 {
  padding: 0.4rem 0 0 0.4rem;
}

.list-2 {
  padding: 0.6rem 0 0 1rem;
}

.list-3 {
  padding: 0.4rem 0 0 0;
}

.list-4 {
  padding: 0.4rem 0.6rem 0 0.4rem;
}

.tracker {
  color: rgb(221, 8, 221);
}
